<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("background1.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px black;
        }

        .cont {
            position: relative;
            left: 600px;
            top: 50px;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    </div>
    <h1>Welcome</h1>

    <div class="row mt-5">
        <div class="col-md-3 m-auto">
            <% include ./messages %>
                <form method="POST">
                    Username:<br>
                    <input type="text" name="username" id="username"
                        value="<%= typeof username != 'undefined' ? username : '' %>">
                    <br>
                    Password:<br>
                    <input type="password" name="password" id="password"
                        value="<%= typeof password != 'undefined' ? password : '' %>">
                    <input type="checkbox" onclick="myFunction()">Show Password
                    <script>function myFunction() {
                            var x = document.getElementById("password");
                            if (x.type === "password") {
                                x.type = "text";
                            } else {
                                x.type = "password";
                            }
                        }</script>

                    <br>
                    <br>
                    <input type="submit" value="Login">
                </form>
                <br>
                <a href="registration">I dont have an account</a>
        </div>
    </div>
</body>

</html>