<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" id="SearchBox" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div>
        <ul>
            <% for(var i=0; i<searcharray.length; i++) {%>

                <% if (searcharray[i]=== "iPhone 13 Pro") { %>
                    <li>
                        <div>
                            <img id="image" src="/iphone.jpg" width="143" height="223">
                            <br>
                            <label id="label2" class="ml-4 my-2">iPhone 13 Pro</label>
                            <br>
                            <button onclick="location.href = '/iphone';" id="iphone" class="btn btn-secondary ml-3"> View </button>
                        </div>
                    </li>
                    <% } %>

                        <% if (searcharray[i]=== "Galaxy S21 Ultra") { %>
                            <li>
                                <div>
                                    <img id="image" src="/galaxy.jpg" width="143" height="223">
                                    <br>
                                    <label id="label1" class="ml-4 my-2">Galaxy S21 Ultra</label>
                                    <br>
                                    <button onclick="location.href = '/galaxy';" id="galaxy" class="btn btn-secondary ml-3"> View </button>
                                </div>
                            </li>
                            <% } %>

                                <% if (searcharray[i]=== "Leaves of Grass") { %>
                                    <li>
                                        <div>
                                            <img id="image" src="/leaves.jpg" width="143" height="223">
                                            <br>
                                            <label id="label1" class="ml-4 my-2">Leaves of Grass</label>
                                            <br>
                                            <button onclick="location.href = '/leaves';" id="leaves" class="btn btn-secondary ml-3"> View </button>
                                        </div>
                                    </li>
                                    <% } %>

                                        <% if (searcharray[i]=== "The Sun and Her Flowers") { %>
                                            <li>
                                                <div>
                                                    <img id="image" src="/sun.jpg" width="143" height="223">
                                                    <br>
                                                    <label id="label2" class="ml-4 my-2">The Sun and Her Flowers</label>
                                                    <br>
                                                    <button onclick="location.href = '/sun';" id="sun" class="btn btn-secondary ml-3"> View </button>
                                                </div>
                                            </li>
                                            <% } %>

                                                <% if (searcharray[i]=== "Boxing Bag") { %>
                                                    <li>
                                                        <div>
                                                            <img id="image" src="/boxing.jpg" width="143" height="223">
                                                            <br>
                                                            <label id="label1" class="ml-4 my-2">Boxing Bag</label>
                                                            <br>
                                                            <button onclick="location.href = '/boxing';" id="boxing" class="btn btn-secondary ml-3"> View </button>
                                                        </div>
                                                    </li>
                                                    <% } %>

                                                        <% if (searcharray[i]=== "Tennis Racket") { %>
                                                            <li>
                                                                <di>
                                                                    <img id="image" src="/tennis.jpg" width="143" height="223">
                                                                    <br>
                                                                    <label id="label2" class="ml-4 my-2">Tennis Racket</label>
                                                                    <br>
                                                                    <button onclick="location.href = '/tennis';" id="tennis" class="btn btn-secondary ml-3"> View </button>
                                                                    <div>
                                                                        <li></li>
                                                                        <% } %>

                                                                            <% if (searcharray[i]=== "Not found") { %>

                                                                                <p style="color: rgb(191, 255, 161)">Not found</p>
                                                                                <% } %>

                                                                                    </tr>
                                                                                    <% } %>
        </ul>
        </div>
</body>

</html>